<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Wireless IoT Software/Firmware</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="assets/images/home1_500x300.png" width="400px;" height="240px;"/>
                    <h4 class="service-heading">Firmware/Embedded Software Developement</h4>
                    <p class="text-muted">Firmware development, Embedded software development for custom boards and board support package(BSP) development.</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/images/home2_500x300.png" width="400px;" height="240px;"/>
                    <h4 class="service-heading">Wireless IoT Solutions</h4>
                    <p class="text-muted">Smart gadgets to smartphones and a Cloud – collect and share data through wireless networks in real time.</p>
                </div>
                <div class="col-md-4">
                    <img src="assets/images/home3_500x300.png" width="400px;" height="240px;"/>
                    <h4 class="service-heading">Electronic Design</h4>
                    <p class="text-muted">We develope high-performance eclectronics based on modern SoCs for various application fields.</p>
                </div>
            </div>
        </div>
    </section>
